section {
    padding: 0 50px;
    gap: 20px;
    position: relative;
}

.card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.roupa {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--shadow-md);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.roupa:hover {
    transform: translateY(-5px);
}

.roupa img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

/* Botão de adicionar */
.btn-add {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: var(--verde-transp);
    color: var(--branco);
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: var(--shadow-md);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease;
}

.btn-add:hover {
    transform: scale(1.05);
}

/* === Card de Peça (Closet) === */

.closet-card {
    display: block;
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.closet-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.closet-image-container {
    width: 100%;
    padding-top: 100%; /* deixa quadrado */
    position: relative;
    overflow: hidden;
}

.closet-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.closet-details {
    padding: 10px;
    text-align: left;
    min-height: 60px;
}

.closet-title {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin: 5px 0 0 0;
}

.closet-price {
    font-size: 16px;
    font-weight: 700;
    color: #5E7858;
    margin: 0;
}

.closet-price.status-text {
    color: #b87800d1; /* cor de doação */
}

/* Badge de status */
.status-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    z-index: 5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Cores por status */
.status-venda .status-badge {
    background-color: #5E7858; /* verde */
}

.status-doacao .status-badge {
    background-color: #f7a300; /* laranja */
}

/* Grid onde os cards ficam */
.closet-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

h3{
    font-weight: 450;
}