section  {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.circle {
  flex: 1;
  padding: 30px;
  position: relative;
  margin-left: 70px;
}

.circle h1 {
  text-align: center;
  color: #134313;
  margin-bottom: 20px;
  font-family: 'Lexend', sans-serif;
}

.upload-box {
  width: 380px;
  height: 350px;
  border: 2px dashed #5e785850;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #5e7858;
  background: #fbfbfb;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.upload-box i {
  font-size: 60px;
  margin-bottom: 10px;
}

.form {
    flex: 1;
    max-width: none;
    margin: 0;
}

.form input, .form textarea, .form select {
  width: 100%;
  padding: 10px 15px;
  margin: 5px 0 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.form textarea {
  height: 100px;
  resize: vertical;
}

/* Cores */
.colors {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.color {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #e6dede;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.color.selected {
  border: 2px solid #000;
}

.options {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 10px 0 20px;
}

.option {
  padding: 6px 14px;
  border: 1px
}