/* ===== CONTEÚDO PRINCIPAL ===== */
section {
    padding: 20px;
}

/* ===== FORMULÁRIO ===== */
.form-section {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
}

.form-section h2 {
    color: #5E7858;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #5E7858;
}

.input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.toggle {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.btn {
    width: 250px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #FAFBF9;
    color: #5E7858;
    font-size: 16px;
    transition: background 0.3s;

}

.btn:hover{
    background-color: #5e785889;
    color: #FAFBF9;
}

/* ===== BOTÃO ATIVO ===== */
.btn.active {
    background-color: #5E785889;
    color: #FAFBF9;
}


.btn-primary {
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 25px;
    background-color: #5E7858;
    color: #FAFBF9;
}
