/* ===== GRID DE CARDS ===== */
section {
    padding: 0px 120px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--shadow-md);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}