.edit-container {
    width: 60%;
    margin: 30px auto;
    background: #d9e0d2;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.edit-container h2 {
    text-align: center;
    color: #314e32;
    margin-bottom: 20px;
}

.edit-image {
    width: 100%;
    height: 300px;
    background: #f4f7f0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    display: block;
    margin-top: 12px;
    margin-bottom: 4px;
    color: #314e32;
    font-weight: bold;
}

input[type="text"],
input[type="color"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #b6c1b4;
    border-radius: 8px;
    outline: none;
    background: #f4f7f0;
    margin-bottom: 10px;
}

textarea {
    height: 80px;
}

.save-button {
    width: 100%;
    padding: 12px;
    background: #6f876f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    transition: 0.2s;
}

.save-button:hover {
    background: #556c55;
}

.colors {
    display: flex;
    gap: 10px;
    margin-top: 6px;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

.color {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.2s;
}

.color.selected {
    border: 3px solid #314e32;
    transform: scale(1.1);
}
