.search-section {
    margin-bottom: 30px;
    width: 95%;
}

.search-input {
    width: 100%;
    padding: 10px 15px 10px 45px; 
    border: 2px solid var(--verde);
    border-radius: var(--radius-full);
    outline: none;
    font-size: 16px;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%235E7858" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.114l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.114-.098zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 16px;
}

.section-title {
    color: rgba(31, 44, 31, 0.747);
    font-weight: 600;
    margin: 10px 0 25px 10px;
    font-size: 16px;
}

.instituicoes-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 95%;
}

.inst-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--branco);
    border-radius: 20px;
    padding: 10px 30px;
    box-shadow: var(--shadow-md);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.inst-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.inst-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.inst-logo {
    width: 65px;
    height: 65px;
    object-fit: contain;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
}

.inst-info h3 {
    font-size: 17px;
    margin: 0;
    color: var(--verde-escuro);
}

.inst-info p {
    font-size: 14px;
    color: #666;
    margin: 3px 0 0;
}

/* alterei o tamanho dos botões**/
.inst-btn {
    background-color: var(--verde-transp);
    color: #fff;
    border: none;
    border-radius: var(--radius-full);
    padding: 6px 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.inst-btn:hover {
    background-color: var(--branco);
    color: var(--verde);
    border: 1px solid var(--verde);
}