.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ocupa toda a altura da tela */
    box-sizing: border-box;
    margin: none;
}

.names{
    background-color: #5E7858;
    padding: 10px 150px 0;
    color: aliceblue;
}

.profile-photo {
    margin: 10px;
    width: 100px;
    height: 100px;
    z-index: 99999;
}

