.img-header{
    width: 800px;
    margin: 0 auto 20px;
    padding-left: 40px;
}

.section {
    flex: 1;
    padding: 20px;
    position: relative;
    max-width: 850px;
}

.profile-header-social {
    align-items: flex-start; 
    gap: 80px;
    padding: 20px 0;
    max-width: 800px; 
    margin: 0 auto 10px; 
    padding-left: 50px; 
}

.profile-info-column {
    flex-grow: 1;
    padding-top: 0px;
}

.full-name {
    font-size: 26px;
    color: #000;
    font-weight: 400;
    margin: 0; 
}

.username-section {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.username-social {
    font-size: 17px;
    color: #666;
    margin: 8px 0;
    /* Faz com que o nome de usuário e as estrelas fiquem na mesma linha */
    display: flex; 
    align-items: center;
    gap: 15px; /* Espaço entre o nome e as estrelas */
}

.rating-stars {
    display: flex;
    align-items: center;
    font-size: 16px; /* Tamanho das estrelas */
    color: gold; /* Cor amarela/dourada para as estrelas preenchidas */
    margin-top: 0; 
}

.rating-stars i {
    margin-right: 2px;
}

.location-section {
    display: flex;
    align-items: center;
    margin: 5px 0 0 0; /* Espaço acima e abaixo da localização */
    font-size: 16px;
    color: #333;
    justify-content: space-between;
}

.location-section i {
    color: #5E7858;
    margin-right: 5px;
}

/* centralizar na página */
hr { 
    max-width: 900px;
}

.mais-info {
    align-items: flex-start;
    margin: 0 auto 10px;
    max-width: 800px;
    padding: 20px 0;
    padding-left: 50px;
}

.confirm {
    display: block;
    margin: 20px auto;
    min-width: 240px;
    width: 50%;
    max-width: 320px;
    padding: 10px 16px;
    align-items: center;
    border: none;
    background-color: #5e785845;
    border-radius: 25px;
    font-weight: bold;
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

/* estilar o hover do botão */
.confirm:hover {
}